# Django secret key for development and testing purposes.
SECRET_KEY=DJANGO_SECRET_KEY

#Database configuration for PostgreSQL

DB_NAME=DATABASE_NAME
DB_USER=DATABASE_USER
DB_PASSWORD=YOUR_PASSWORD
DB_HOST=YOUR_DATABASE_HOST
DB_PORT=PORTHERE

#Supabase Configurations
""" You can create yourself """
